.slider-container {
    width: 500px;
    overflow: hidden;
   position: relative;
   left: 33%;
border-radius: 10px;
}

.slider {
    display: flex;
    transition: margin-left 0.5s ease-in-out;
    
    
}

.slider img {
    width: 500px;
    height: auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    padding: 16px;
    color: white;
    user-select: none;
}

.prev {
    left: 0;
    border-radius: 5px 0 0 5px;
}

.next {
    right: 0;
    border-radius: 0 5px 5px 0;
}